<!DOCTYPE html>


<html>
    <head>

    </head>
    <body>

    <div>
        <img src="https://www.htl-leonding.at/uploads/pics/HTL_Abteilungsicons_mit_Textbalken_rgb_01.jpg" align="left" alt="Abteilung Logo" height="90px" width="360px"/><img src="http://www.htl-leonding.at/fileadmin/config/main/img/htlleondinglogo.png" align="right" alt="HTL Leonding Logo"/></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>



        <img src="http://www.absleo.at/typo3temp/_processed_/csm_absleo_logo_ohne_Rahmen_ba0c412e5a.png" alt="ABSLEO Logo"/>
    </body>
</html>
